#searcher_box{
}
#searcher_box input{
    
}
#search_header{
    padding: 3px;
    border: 1px solid #CCCCCC;
    background: #fcfcfc;
    box-shadow: 1px 1px 0 #fff;
    width: 300px;
}

#search_header:hover{
    border: 1px solid #A5A1A1;
}

.search_button{
    background: url("/Shop/web/bundles/frontendlayout/images/search.png") center no-repeat !important;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    width: 50px;
    height: 24px;
    padding:0px !important;
}

/*
* Részletes keresők
*/
/*KERESŐ FORM*/
.main #search_form{
	height: 200px;
}

#searcher #search_toggle_button{
	text-align: center;
	border-top: 3px solid #CBD4DF;
	padding-top: 10px;
}

.main #search_form div{
    width:50%;
    float:left;
}

.main #search_form label{
    display: inline-block;
    width: 200px;
}

.main #search_form select{
    width:150px;
}


