#searcher_box{
}
#searcher_box input{
    
}
#search_header{
    padding: 3px;
    border: 1px solid #CCCCCC;
    background: #fcfcfc;
    box-shadow: 1px 1px 0 #fff;
    width: 300px;
}

#search_header:hover{
    border: 1px solid #A5A1A1;
}

.search_button{
    background: url("/Shop/web/bundles/frontendlayout/images/search.png") center no-repeat !important;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    width: 50px;
    height: 24px;
    padding:0px !important;
}

/*
* Részletes keresők
*/
/*KERESŐ FORM*/
.main #search-box{
}

#searcher #search_toggle_button{
	text-align: center;
	border-top: 3px solid #CBD4DF;
	padding-top: 10px;
}

.main #search-box .search-filter{
    width:50%;
    float:left;
}

.main #search-box label{
    display: inline-block;
    width: 150px;
    text-align: right;
}

.main #search-box select{
    width: 200px;
    height: 30px;
    margin: 5px;
    background-color: #F7F9FD;
    border: 1px solid #D5D5D5;
}

#searchTabs{
    display:block;
}
#searchTabs ul{
    
}
#searchTabs ul>li{
    display: inline-block;
    margin:5px;
}

#searchTabs ul>li a{
    display: block;
    padding: 10px;
    background-color: #F7F7F7;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -moz-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -webkit-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    color:black;
    font-weight: bold;
    text-decoration: none;
}
#searchTabs ul>li a:hover{
    background-color: #428bca;
    color: white;
}

#searchTabs ul>li .current{
    background-color: #428bca;
    color: white;
    border: 1px solid #428bca;
}

#search-box .bottom-section{
    margin-top: 5px;
    text-align: center;
    clear:both;
        
}
#search-box .top-section{
    display: block;
    overflow: hidden;
}

.price-filter{
    text-align: center;
    float: none !important;
    width: 100% !important;
    height: 50px;
}

#laptop-price-amount-copy{
    color:#428bca;
    font-weight:bold;
    border:0;
    font-size: 1.2em;

}
#laptop-price-slider{
    width: 600px;
    margin: 0px auto;
}

.ui-slider-range{ 
    background: #428bca !important;
}
.ui-slider-handle { 
    border-color: #9BA6AF !important
}
