/*
* Fő kereső stílusa
*/
#searcher-form{
    position: relative;
}
#search-header{
    width: 300px;
    margin: 0;
    height: 30px;
    padding: 0px 5px 0px 5px;
}
.search-header-box{
    position: relative;
}
#searcher-form .loading{
    background: url("/marcitech.hu/web/images/loading_small.gif") center right no-repeat;
}

.search-header-content-box{
    background-color: #f3f3f3;
    border-top: none;
    position: absolute !important;
    z-index: 1000;
    width: 100%;
    top: 36px !important;
}

.search-button{
    background: url("/marcitech.hu/web/bundles/frontendlayout/images/search.png") center no-repeat !important;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    width: 50px;
    height: 24px;
    padding:0px !important;
}

.search-product-holder{
    padding:5px;
    display: block;
}

.search-product-holder .product-box a{
    padding: 5px;
    font-size: 0.8em;
    color: #000;
    border-bottom: 1px solid #B1B1B1;
    overflow: hidden;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

.search-product-holder .product-box a:hover{
    background-color: rgb(234, 242, 252);
}

.left-side{
    float: left;
    padding-right: 5px;
}

/*
* Részletes keresők
*/
/*KERESŐ FORM*/
.main #searcher-form{
}

#searcher #search-toggle-button{
    text-align: center;
    border-top: 3px solid #CBD4DF;
    font-weight: bold;
    font-size: 1.2em;
    /*background: url("/marcitech.hu/web/images/search-mini.png") top center no-repeat !important;*/       
}
#searcher #search-toggle-button-content{
    display: inline-block;
    padding: 5px;
    border: 3px solid #CBD4DF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
    -moz-box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
    box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
    cursor: pointer;
    border-top: none;
    
}

.main #searchTabs .search-filter{
    width:50%;
    float:left;
}

.main #searchTabs label{
    display: inline-block;
    width: 150px;
    text-align: right;
}
#general-search-string,
.main #searchTabs select{
    width: 200px;
    height: 30px;
    margin: 5px;
    background-color: #F7F9FD;
    border: 1px solid #D5D5D5;
}
.general-search-string-box{
    text-align: center;
}
#general-search-string{
    width: 400px;
    padding: 5px;
}
#searchTabs{
    display:block;
}
#searchTabs ul{
    
}
#searchTabs ul li{
    display: inline-block;
    margin:5px;
}

#searchTabs ul li a{
    display: block;
    padding: 10px;
    background-color: #F7F7F7;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -moz-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -webkit-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    color:black;
    font-weight: bold;
    text-decoration: none;
}
#searchTabs ul>li a:hover{
    background-color: #428bca;
    color: white;
}

#searchTabs ul>li .current{
    background-color: #428bca;
    color: white;
    border: 1px solid #428bca;
}

#searchTabs .bottom-section{
    margin-top: 5px;
    text-align: center;
    clear:both;
        
}
#searchTabs .top-section{
    display: block;
    overflow: hidden;
}

.price-filter{
    text-align: center;
    float: none !important;
    width: 100% !important;
    height: 50px;
}

#general-price-amount-copy,
#tablet-price-amount-copy,
#laptop-price-amount-copy{
    color:#428bca;
    font-weight:bold;
    border:0;
    font-size: 1.2em;

}
#general-price-slider,
#tablet-price-slider,
#laptop-price-slider{
    width: 600px;
    margin: 0px auto;
}

.ui-slider-range{ 
    background: #428bca !important;
}
.ui-slider-handle { 
    border-color: #9BA6AF !important
}
