<div class="search-header-box">
    {% set val = "" %}
    {%if searchKey is defined and searchKey is not null %}
    {% set val = searchKey %}
    {% endif %}
    <form id="searcher-form" action="{{path('frontend_products')}}" method="post">
        <div class="loading"></div>
        <input type="text" id="search-header" placeholder="Mit keresel?" name="generalSearchString" value="{{val}}" autocomplete="off" href="{{path('frontend_header_search_autocomplete')}}">
        <input type="hidden" name="filterType" value="0" class="general-filter-type"/>
    </form> 
</div>

