<form id="searcher_box" action="{{path('frontend_header_search')}}" method="post">
    <input type="text" id="search_header" placeholder="Mit keresel?" href="{{path('frontend_header_search_autocomplete')}}" name="key" autocomplete="off">
    <input type="button" class="search_button" value="&nbsp">
</form>    

