/*
* Profil szerkesztése
*/
.profile_edit_form{
    margin-left: 50px;
}

.profile_edit_form .profile_edit_line_left,
.profile_edit_form .profile_edit_line_right{
    float: left;
    width: 50%;
    padding-bottom: 5px;
}


.profile_edit_form .label_text{
    float: left;
    font-weight: bold;
    width: 120px;
}

.profile_edit_header_box,
.profile_billing_information_box,
.profile_shipping_information_box{
    overflow: hidden;
    padding: 10px;
}

.profile_edit_form input[type="text"]{
    width: 200px;
}

.profile_edit_bottom_box{
    text-align: center;
    padding: 10px 0px;
}

h2{
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2em;
}

/*
* Rendeléseim 
*/
.order-information .information-box{
    display:block;
    padding: 5px;
}
.order-information .label-text{
    width: 200px;
    font-weight:bold;
    display:inline-block;
}
.order-information .information-text{
    display:inline-block;
}