.bold{
    font-weight: bold;
}
.main .products_box img{
    width: 120px;
    height: 120px;
}
.main .product_box{
    width: 258px;
    height: 350px;
    float: left;
    margin: 5px;
    border: 1px solid #e8e8e8;
    background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	-webkit-box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
	-moz-box-shadow:    1px 3px 4px 0px rgba(7, 0, 0, 0.57);
	box-shadow:         1px 3px 4px 0px rgba(7, 0, 0, 0.57);
}

.main .product_box .product_name{
    padding: 10px 0px 0px 10px;
    font-weight: bold;
}

.main .product_box .product_name a{
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}
.main .product_box .product_name a:hover{
	text-decoration:underline;
}

.main .product_box .product_price{
    color: #D1466F;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 1.3em;
}


.to_cart_button:hover {
    text-decoration: underline;
}

.to_cart_button {
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    background-color: #428bca;
    border:none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
}

.main .product_box .right_box{
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: center;
}

.main .product_box .image_container{
    float: left;
    width: 150px;
    height: 150px;
}

.main .product_box .upper_box{
    position: relative;
}

.main .products_box .bottom_box{
	clear: both;
	font-size: 0.8em;
	padding: 0px 10px 0px 0px;
	height: 190px;
}
.main .products_box .bottom_box ul{
    list-style: disc;
	background-color: #C9DEF8;;
	color: black;
	list-style-position: inside;
	padding-left: 10px;
	border-top-right-radius:2em;
	-webkit-border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	-webkit-border-bottom-right-radius:2em;
}

.main .products_box .bottom_box ul li{
    padding-bottom: 2px;
	padding-right: 15px;
}

/*KERESŐ FORM*/
.main #search_form{
	height: 200px;
	background-color: yellow;
}

#searcher #search_toggle_button{
	text-align: center;
	border-top: 3px solid #CBD4DF;
	padding-top: 10px;
}

.main #productTabs{
    clear:both;
}

.main #productTabs .nav{
    background-color: #428bca;
    padding: 10px;
}

.main #productTabs .nav li{
    display: inline-block;
    padding: 10px;
    border-right: 3px solid white;
}

.main #productTabs .nav li:last-child{
    border-right:none;
}

.main #productTabs .nav li>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.main #productTabs .nav li>a:hover{
    text-decoration: underline;
}

.main #productTabs .list-wrap{
    padding: 10px;
}

#tabProductInformation .property-name{
    font-weight:bold;
    width:200px;
    display: inline-block;
}

.main .tabContent{
}

#current-product-box .bottom_box li{
    padding: 5px 0px;
}

#current-product-box .product_name{
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid grey;
    padding: 10px;
}


.main #current-product-box .upper_box{
    position: relative;
}
#current-product-box .image_container{
    float: left;
    width: 250px;
    height: 300px;
}

.main #current-product-box .right_box{
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: center;
}

.main #tabGuarantee{
    line-height: 1.4em;
    text-align: justify;
}

.main #tabGuarantee p{
    padding:10px;
}

/*KÉRDÉSEK TAB*/
#questions-table{
    width:600px;
    border-collapse:separate; 
    border-spacing:1em;
}

#questions-table tbody> tr:last-of-type{
    text-align: center !important;
}
#questions-table td:first-child{
    width:100px;
    font-weight:bold;
    vertical-align: top;
}

#questions-table .questionerName, .questionerEmail{
    width: 400px;
    height: 25px;
}

#questions-table textarea{
    width:400px;
    height:200px;
}



