.bold{
    font-weight: bold;
}
.main .products_box{
    clear:both;
}

.main .products_box img{
    width: 120px;
    height: 120px;
}
.main .product_box{
    width: 258px;
    height: 350px;
    float: left;
    margin: 5px;
    border: 1px solid #e8e8e8;
    background-color: #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	-webkit-box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
	-moz-box-shadow:    1px 3px 4px 0px rgba(7, 0, 0, 0.57);
	box-shadow:         1px 3px 4px 0px rgba(7, 0, 0, 0.57);
}

.main .product_box .product_name{
    padding: 10px 0px 0px 10px;
    font-weight: bold;
}

.main .product_box .product_name a{
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}
.main .product_box .product_name a:hover{
	text-decoration:underline;
}

.main .product_box .product_price{
    color: #D1466F;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 1.3em;
}
.sales .new-price{
    
}

.sales .old-price{
    text-decoration: line-through;
    color: black;
    font-weight: normal;
}



.to-cart-button:hover {
    text-decoration: underline;
}

.to-cart-button {
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    background-color: #428bca;
    border:none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
}

.main .product_box .right_box{
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: center;
}

.main .product_box .image_container{
    float: left;
    width: 150px;
    height: 150px;
}

.main .product_box .upper_box{
    position: relative;
}

.main .products_box .bottom_box{
	clear: both;
	font-size: 0.8em;
	padding: 0px 10px 0px 0px;
	height: 190px;
}
.main .products_box .bottom_box ul{
    list-style: disc;
	background-color: #C9DEF8;;
	color: black;
	list-style-position: inside;
	padding-left: 10px;
	border-top-right-radius:2em;
	-webkit-border-top-right-radius:2em;
	border-bottom-right-radius:2em;
	-webkit-border-bottom-right-radius:2em;
}

.main .products_box .bottom_box ul li{
    padding-bottom: 2px;
	padding-right: 15px;
}

.main #productTabs{
    clear:both;
}

.main #productTabs .nav{
    background-color: #428bca;
    padding: 10px;
}

.main #productTabs .nav li{
    display: inline-block;
    padding: 10px;
    border-right: 3px solid white;
}

.main #productTabs .nav li:last-child{
    border-right:none;
}

.main #productTabs .nav li>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.main #productTabs .nav li>a:hover{
    text-decoration: underline;
}

.main #productTabs .list-wrap{
    padding: 10px;
}

#tabProductInformation .property-name{
    font-weight:bold;
    width:200px;
    display: inline-block;
}

.main .tabContent{
}

#current-product-box .bottom_box li{
    padding: 5px 0px;
}


.main #current-product-box .upper_box{
    position: relative;
}
#current-product-box .image_container{
    float: left;
    width: 400px;
}

.main #current-product-box .right_box{
    position: absolute;
    top: 20px;
    right: 10px;
    text-align: center;
}

.main #tabGuarantee{
    line-height: 1.4em;
    text-align: justify;
}

.main #tabGuarantee p{
    padding:10px;
}

/*KÉRDÉSEK TAB*/
#questions-table{
    width:600px;
    border-collapse:separate; 
    border-spacing:1em;
}

#questions-table tbody> tr:last-of-type{
    text-align: center !important;
}
#questions-table td:first-child{
    width:100px;
    font-weight:bold;
    vertical-align: top;
}

#questions-table .questionerName, .questionerEmail{
    width: 400px;
    height: 25px;
}

#questions-table textarea{
    width:400px;
    height:200px;
}

//OLDALAK
#upper-menu{
    height:40px;
}

#upper-menu .left-side{
    float:left;
}

#upper-menu .left-side ul>li{
    display: inline-block;
    background-color: #F7F7F7;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -moz-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -webkit-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
}
#upper-menu .left-side ul>li a{
    padding: 5px;
    text-decoration: none;
    color: black;
    display: block;
}

#upper-menu .left-side ul>li a:hover{
    background-color: #428bca;
    color:white;    
}
#upper-menu .left-side .actual-page a{
    background-color: #428bca;
    color:white;    
}
#upper-menu .left-side{
    
}

#upper-menu .right-side{
    float:right;
}

.sales{
    background: url("/Shop/web/images/sales.png") top right no-repeat !important;
}

.flex-control-nav{
    display:none;
}

/*
* AJÁNLATOK
*/
#product-offers a{
    text-decoration: none;
    color:black;
    
}
#product-offers .product-box a{
    display: block;
    border-right: 1px solid grey;
}
#product-offers .product-box a:hover .product-name{
    font-weight:bold;
    /*background-color: #D9E3F8;*/
}
#product-offers .product-box:last-child a{
    border-right: none;
}
#product-offers .product-name{
    text-align: center;
    text-transform: uppercase;
}
#product-offers .product-price{
    color: #D1466F;
    font-weight: bold;
    text-align: center;
}