Kedves {{productQuestion.getName()}}!

A következő kérdésedre válasz érkezett:

<div>
    Kérdés:{{productQuestion.getQuestion()}}
</div><br/>
<div>
    Válasz:{{productQuestion.getAnswer()}}
</div><br/>

Tisztelettel: Marci-tech!

