{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShop - Regisztr치ci칩 {% endblock %}
{% block bodyClass %}class="login_page"{% endblock%}
 
{% block main %}  
	<div class="main">
            {% block leftSide %}                    
                  {{parent()}}
            {% endblock %}
            
            <div class="container">
		<div class="login_form">
                    <form action="{{ path('frontend_registration') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                        {{ form_widget(form) }}23
                        <div>
                            <input type="submit" value="Regisztr치ci칩" />
                        </div>
                    </form>
		</div>	
            </div>    
	</div>	
{% endblock %}
                        