<div>
    Kedves {{user.getUsername()}}!
</div>
<div class="reset-email-content">
    Új jelszó megadásához kattints <a href="{{link}}">ide</a>!
</div>
<div class="reset-email-bottom">
    Üdvözlettel: Marci-tech!
</div>
