{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShopAdmin - Rendelések {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/backendadmin/js/Order.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                Order.init();
            });
    </script>
{% endblock %}
{% block stylesheets %}   
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/Order.css') }}"/>
{% endblock %}
{% block main %} 
    <div class="main">
        <h2>Rendelések</h2>
        <div class="upperMenu filter-order-menu">
            <label for="filter-name">Név:</label>
            <input type="text" id="filter-name" name="filter-name">
            <label for="filter-date">Rendelés dátuma:</label>
            <input type="text" id="filter-date" name="filter-date">
            <label for="filter-fulfill">Teljesítve:</label>
            <select id="filter-fulfill" name="filter-fulfill">
                <option value=""></option>
                <option value="yes">Teljesítve</option>
                <option value="no">Nincs teljesítve</option>
            </select>
            <input type="button" value="Szűrés" class="menu_btn ok_btn" id="filter-order-button" link="{{path('backend_admin_order_list')}}"/>
        </div>
        <div id="order-table">
            {% include "BackendAdminBundle:Order:listOrderTable.html.twig" %}
        </div>
    </div>
    
<div id="modal-fulfill-order" class="reveal-modal">
    <div class="formContent">
        <div class="topSection">
            <div class="modal-content">
                <h2></h2>
                <div class="modal-information"></div>
            </div>
        </div>
        <div class="bottomSection">
            <div class="inputs">
                <input type="button" class="cancel exit-reveal-modal cancel_btn menu_btn" value="Ok">                        
            </div>
        </div>
    </div>
</div>   
{% endblock %}
                  