<h2>Vásárlási Feltételek</h2>

<p>Figyelem! Internetoldalaink használatával Ön a következő feltételeket magára nézve kötelezőnek fogadja el.</p>


<p>A marci-tech.hu internetes portálon szereplő számítástechnikai eszközök két módon vásárolhatóak meg:</p>