{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% endblock fos_user_content %}



<form action="{{ path("fos_user_security_check") }}"  method="POST" id="sign-in-form" checklink="{{path('frontend_login_check')}}" autocomplete="off">
    <div class="topSection">
        <div class="modal-content">
            <h2>Bejelentkezés</h2>
                <div>
                    <label for="email">Email cím</label>                        
                    <input type="text" id="email" name="_email" class="validate[required, custom[email]]" />
                    <label for="password">Jelszó</label>
                    <input type="password" id="password" name="_password" class="validate[required]"/>
                    {#<label for="remember_me">Emlékezz rám</label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                </div>
                <div>
                    Elfelejtetted a jelszavadat? Kattints <a href="#" id="forget-password-link">ide</a>
                </div>
                <div>
                    Még nem regisztráltál? <a href="#" id="registration-password-link">Ide</a> kattintva megteheted
                </div>                
                
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        </div>
    </div>
    <div class="errorSection hide"></div>
    <div class="bottomSection">
        <div class="inputs">
            <input type="submit" value="Bejelentkezés" id="submit-login-form-button" class="ok-button">                    
        </div>
    </div>
</form>    

