{% trans_default_domain 'FOSUserBundle' %}

<div id="password-resetting-form" checklink="{{path('frontend_password_reset')}}">
     <div class="topSection">
        <div class="modal-content">
            <h2>Jelszó emlékeztető</h2>    
            <div>
                <label for="reset-email">Email cím:</label>
                <input type="text" id="reset-email" name="reset-email" required="required" />
            </div>
        </div>
     </div>
    <div class="errorSection hide"></div>
    <div class="bottomSection">
        <div class="inputs">
            <input type="button" value="Új jelszó" class="ok-button" id="password-resetting-button"/>
        </div>
    </div>
</div>
