/*
* Admin felület bejelentkezési ablakának stílusa
*/
html,body{
    height:100%;
}
h2{
    font-weight: bold;
    color: grey;
    font-size: 2em;
    padding-bottom: 10px;
}

/* Bejelentkezési űrlap */
#sign-in-form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    padding: 10px;
    background-color: rgb(231, 231, 231);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
    -moz-box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
    box-shadow: 1px 3px 4px 0px rgba(7, 0, 0, 0.57);
}

/* beviteli mezők címkéi */
#sign-in-form label{
    float: left;
    margin: 0px 10px 0px 0px;
    width: 150px;
    font-weight: bold;
}

/* Beviteli mezők */
#sign-in-form input{
    width: 200px;
    display: block;
    padding: 5px;
    margin: 10px;
}
/* Bejelentkezés gomb */
#submit-login-form-button{
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    background-color: #428bca;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    border: none;
    margin: 10px auto !important; 
}

/* Hiba üzenetek */
.errorSection {
    display:none;
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.2em;
}