/*
* PROFIL/RENDELÉSIM-NÉL A RENDELÉSEK TÁBLÁZAT MEGJELENÍTÉSE
*/
#my-order-table{
    margin: 10px;
    width: 800px;
}
#my-order-table thead{
    font-weight: bold;
    border-bottom:2px solid #428bca;
}
#my-order-table thead tr>th{
    text-align: left;
}
#my-order-table thead tr>th{
    padding-bottom:10px;
}

#my-order-table tbody tr{
    border-top:1px dashed grey;
}
#my-order-table tbody tr:hover{
    background-color: #DDECF8;
}
#my-order-table tbody tr:first-child{
    border:none;
}
#my-order-table tbody .more-information{
    border:none;

}
#my-order-table tbody .more-information td{
    padding-bottom: 10px;
}


#my-order-table tbody tr>td{
    padding-top: 5px;
}
#my-order-table tbody tr>td:first-child{    
    padding-left: 10px;
}
#my-order-table .ok-button{
    width:30px;
}
#my-order-table .ok-button:hover{
    text-decoration: none;
}

/*
* PROFIL/RENDELÉSIM-NÉL TERMÉKEK MEGJELENÍTÉSE EGYES RENDELÉSEKNÉL
*/

#my-order-table .cart-item{
    border-bottom: 1px dashed #428bca;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#my-order-table tbody .more-information:hover{
    background:none;
}
#my-order-table .cart-item div{
    display:inline-block;
    vertical-align: top;
}
#my-order-table .cart-item .product-cart-count{
    width: 50px;
    text-align: center;
    margin-bottom: 10px;
}

#my-order-table .cart-item .column-0{
    width: 108px;
}
#my-order-table .cart-item .column-1{
    width: 550px;
    margin-top: 10px;
}
#my-order-table .cart-item .column-1 .product-information{
    width:100%;
}
#my-order-table .cart-item .column-1 .product-information div{
    display:block;
    width:100%;
}
#my-order-table .cart-item .column-1 .product-information .product-name{
    font-weight:bold;
    font-size: 1.3em;
    color: #428bca;
}
#my-order-table .cart-item .column-1 .product-information .product-propertys ul>li{
    float:left;
    padding: 5px 10px 0px 0px;
}
#my-order-table .cart-item .column-2{
    width: 70px;
    text-align: right;
    color: #D1466F;
    font-weight: bold;
}
#my-order-table .cart-item .column-3{
    width: 50px;
    text-align: right;
}


#my-order-table .cart-sum{
    text-align: right;
    padding-bottom: 10px;
    margin-top: 5px;
}
#my-order-table .bottom-section{
    padding-top: 5px;
    border-top: 5px double #428bca;
    text-align: right;
}

/* RENDELÉSI EMAIL */
#order-email-table{
    border-collapse: collapse;
}
#order-email-table td{
    border:1px solid grey;
}

/* Rendelési űrlap kinézete */
#order-profile-data label,
#order-shipping-address label,
#order-billing-address label{
    float: left;
    width: 150px;
}

#order-profile-data input,
#order-shipping-address input,
#order-billing-address input{
    display:block;
    width: 250px;
    height: 25px;
    margin: 10px;
    background-color: #F7F9FD;
    border: 1px solid #D5D5D5;
    padding: 5px;
    font-weight: bold;
}

#shipping-option-box input,
#payment-option-box input{
    float: left;
}

#shipping-option-box label,
#payment-option-box label{
    display:block;
    margin: 10px;
}

#order-comment-box textarea{
    width: 100%;
    height:100px;
    padding: 0;
}

.order-information-boxes{
    padding:10px;
}

#order-conditions{
}

#order-conditions-box .slimScrollDiv{
    border:1px solid rgb(169, 169, 169);
    width: 770px;
    padding: 10px 10px;
    margin: 10px 0px;
}