/*
* Általános stílusok
*/
.bold{
    font-weight: bold;
}


/*
* Kosár tartalmának megjelenése
*/
#cart-box .cart-items .empty-cart-messages{
    padding-top:10px;
}
#cart-box .cart-items .empty-cart-messages a{
    color:#428bca;
}
#cart-box .cart-item{
    border-bottom: 1px dashed #428bca;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#cart-box .cart-item div{
    display:inline-block;
        vertical-align: top;
}
#cart-box .cart-item .change-product-cart-count{
    width: 40px;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}
#cart-box .cart-item .column-0{
    width: 108px;
}
#cart-box .cart-item .column-1{
    width: 550px;
    margin-top: 10px;
}
#cart-box .cart-item .column-1 .product-information{
    width:100%;
}
#cart-box .cart-item .column-1 .product-information div{
    display:block;
    width:100%;
}
#cart-box .cart-item .column-1 .product-information .product-name{
    font-weight:bold;
    font-size: 1.3em;
    color: #428bca;
}
#cart-box .cart-item .column-1 .product-information .product-propertys ul>li{
    float:left;
    padding: 5px 10px 0px 0px;
}
#cart-box .cart-item .column-2{
    width: 90px;
    text-align: right;
    margin-top: 10px;
    color: #D1466F;
    font-weight: bold;
}
#cart-box .cart-item .column-3{
    width: 70px;
    text-align: center;
    margin-top: 5px;
}


/* 
* Összegzés a kosár alatt
*/
#cart-box .cart-sum{
    text-align: right;
    padding-bottom: 10px;
    margin-top: 5px;
}
#cart-box .bottom-section{
    padding-top: 5px;
    border-top: 5px double #428bca;
    text-align: right;
}

/* 
* Gombok 
*/
.menu_btn{
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
}

#cart_update_btn{
    background-color: #47a447;
    border-color: #398439;
}
.menu_btn:hover{
    text-decoration: underline;
}

.warning_btn{
    background-color: #d9534f;
    border-color: #d43f3a;
}


.box-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    color: #428bca;
    border-bottom: 2px solid #428bca;
}

/*
* MODÁLIS ABLAK ÜRES KOSÁRNÁL
*/
#modal-empty-cart .formContent{
    padding:10px;
}

#modal-empty-cart .topSection{
    padding: 10px;
}

#modal-empty-cart .bottomSection{
    padding-top: 5px;
    text-align: center;
}

#modal-empty-cart h2{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}
