.cart_table{
    clear:both;
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    min-width:700px;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    width:100%;
}

.cart_table thead{
    font-weight: bold;
    text-transform: uppercase;
    color: grey;
}
.cart_table th, .cart_table td {padding:18px 28px 18px; text-align:center; }
	
.cart_table th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb;}

.cart_table td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0;}

.cart_table tr.odd-row td {background:#f6f6f6;}

.cart_table td.first, th.first {text-align:left}

.cart_table td.last {border-right:none;}

.cart_table td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

.cart_table tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

.cart_table th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}



.cart_table tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px;
}

.cart_table tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px;
}

.cart_table tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px;
}

.cart_table tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px;
}

.cart_table tr>td:first-child{
    width: 200px;
    text-align: left;
    font-weight: bold;
}
.cart_table tr:last-child td{
    text-align: center;
}



.menu_btn{
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    background-color: #428bca;
    border-color: #357ebd;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
}

#cart_update_btn{
    background-color: #47a447;
    border-color: #398439;
}
.menu_btn:hover{
    text-decoration: underline;
}

.warning_btn{
    background-color: #d9534f;
    border-color: #d43f3a;
}

.header .group_right #cart #cart_icon{    
    background: url("/Shop/web/bundles/frontendlayout/images/cart.png") center no-repeat;
	float: left;
}
.header .group_right #cart{
    display: inline;
    position: relative;
}
.header .group_right #cart_count{
    display: inline;
    position: absolute;
    left: 30px;
    top: -5px;
    float: left;
    background-color: rgba(255,0,0,1);
    padding: 3px;
    height: 14px;
    width: 18px;
    text-align: center;
    color: white;
}

.page-title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
}