<div class="footer">
	<div class="wrapper">
		<div class="links">
			<a href="{{path('frontend_bottom_customer_services')}}">Ügyfélszolgálat</a> | 
			<a href="{{path('frontend_bottom_privacy_policy_and_terms_conditions')}}">Adatvédelem és szerződési feltételek</a> | 
			<a href="{{path('frontend_bottom_gyik')}}">GYIK</a> | 
			<a href="{{path('frontend_bottom_customer_services')}}">Elérhetőség</a>
		</div>
	</div>
</div>