<div class="cf"></div>
<div class="footer">
	<div class="wrapper">
		<div class="links">
			<a href="#">Ügyfélszolgálat</a> | 
			<a href="#">Adatvédelem és szerződési feltételek</a> | 
			<a href="#">GYIK</a> | 
			<a href="#">Elérhetőség</a>
		</div>
	</div>
</div>