<div class="header">
    <div class="wrapper">
        <div class="group_left">
            <div class="searcher_box">
                <input type="text" class="searcher" placeholder="Mit keresel?">
                <input type="button" class="search_button" value="&nbsp">
            </div>
        </div>
        <div class="group_right">
            <div class="buttons">
                <input type="button" class="cart_button" value="&nbsp">
                <input type="button" class="login_button" value="Bejelentkezés">
                <input type="button" class="register_button" value="Regisztráció">
            </div>
        </div>
    </div>
</div>
