{% extends 'FrontendLayoutBundle:Default:base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/frontendlayout/js/Shared.js') }}"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                Shared.init();
                //$( "#leftMenu" ).accordion();
            });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/frontendproduct/css/product.css') }}"/>
    <link rel="stylesheet" href="{{ asset('js/jquery-ui-1.10.4/css/smoothness/jquery-ui-1.10.4.custom.css') }}"/>
{% endblock %}
                


{% block mainContent%}   
    <div class="content">
        <div class="wrapper">
            {% block sidebar %}
                {% render (controller("FrontendProductBundle:Default:sidebar")) %}
            {% endblock %} 
            {% block main %}

            {% endblock %}			
           
        </div>
    </div>	
{% endblock %}