/*body{
	background-image: url(http://subtlepatterns.com/patterns/grey.png);
}*/
.header{
    background-color: #f3f3f3;
    height: 30px;
    width: 100%;
    z-index: 6011;
    top: 0;    
    border-bottom: 1px solid #e8e8e8;
	padding: 10px 0px;
    /*padding: 10px;*/
}

#logo{
	background: url("/Shop/web/bundles/frontendlayout/images/logo.png") center no-repeat !important;
	height: 30px;
	width: 150px;
	float: left;
	padding: 0px 10px;
}
#logo a{
	display:block;
	width:100%;
	height:100%;
}
.wrapper {
    width: 980px;
    margin: 0px auto;
    position: relative;
}

.wideLabel .labelText{
    width: 100% !important;
    float: left;
    line-height: 20px;
}

.content {
    margin: 0px auto 0 auto;
}

.content .contentTop{
    margin-bottom: 10px;
    position: relative;
	float: left;
	width: 769px;
}

/*
    JOBB OLDAL
*/    
.sidebar{
    width: 200px;
    height: 100%;
    display: table-cell;
    position: relative;
    padding-top:30px;
    border-right: 2px solid rgb(233, 233, 233);
}
.sidebar .sideFrame{
    border-left: 1px solid #bed2d2;
	padding: 0px 0px 0px 5px;
}

.sidebar .block{
    border-top: 1px solid #bed2d2;
    padding: 10px 0px;
}

.sidebar .block h2{
    font-size: 15px;
    font-weight: bold;
    color: #cc0000;
    margin-bottom: 5px;
}

#leftMenu{
    width: 100%;
    position: absolute;
}

.maincontent .wrapper .sidebar .taxonomy li a{
	padding: 5px 0px 5px 20px;
}

.maincontent .wrapper .sidebar .taxon li a{
	padding: 5px 0px 5px 10px;
	font-weight: bold;
}

.maincontent .wrapper .sidebar .taxon a,
.maincontent .wrapper .sidebar .taxonomy a{
    color: #333;
    text-decoration: none;
	display:block;
}

.maincontent .wrapper .sidebar .taxon li a:hover{
    background-color: #428bca;
}
.maincontent .wrapper .sidebar .taxonomy li a:hover{
    background-color: #428bca;	
}
.searcher_box{
}
.searcher_box input{
    
}
.searcher{
    padding: 3px;
    border: 1px solid #CCCCCC;
    background: #fcfcfc;
    box-shadow: 1px 1px 0 #fff;
    width: 300px;
}

.searcher:hover{
    border: 1px solid #A5A1A1;
}

.search_button{
    background: url("/Shop/web/bundles/frontendlayout/images/search.png") center no-repeat !important;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    width: 50px;
    height: 24px;
    padding:0px !important;
}

.main {
    float: right;
    width: 980px;
    min-height: 720px;
}

.main .container{
    display: table-cell;
    padding:5px;
}

.footer {
    border-top: 1px solid #e8e8e8;
    clear: both;
    /*padding: 10px;*/
    background-color: #f3f3f3;
    width: 100%;
}
.footer .wrapper{
    padding: 20px;
    text-align: center;

}

.footer .links a{
    color: #666;
}

.header .wrapper .group_left{
    position: relative;
    float: left;
}
.header .wrapper .group_right{
    float: right;
    position: relative;
}

input[type="button"]{
    background: #f8f8f8;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    padding: 5px;
}

.header .group_right  li{
	float: left;
	padding: 10px;	
	margin-left: 5px;
}

.header .group_right  li:hover{
	background-color: white;
}
.header .group_right  a{
	display: inline;
	text-decoration:none;
	color:black;
}
.header .group_right #cart #cart_icon{    
    background: url("/Shop/web/bundles/frontendlayout/images/cart.png") center no-repeat;
	float: left;
}
.header .group_right #cart{
    display: inline;
}
.header .group_right #cart_count{
    display: inline;
    position: absolute;
    left: 30px;
    top: -5px;
    float: left;
    background-color: rgba(255,0,0,1);
    padding: 3px;
    height: 14px;
    width: 18px;
    text-align: center;
    color: white;
}

input[type="button"]:hover{
    border: 1px solid #A5A1A1;
}


.hide{
    display:none;
}

.profileDropDownQTip ul .menuDivider{
    background: #ddd;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 4px 0px;
}

.profileDropDownQTip ul{
}

.profileDropDownQTip li a{
    padding: 5px;
    color: #3276b1;
    text-decoration: none;
    display: block;
}
.profileDropDownQTip .qtip-content{
}
.profileDropDownQTip li a:hover{
    color:grey;
    text-decoration: underline;
}

#registration_table tr>td:last-child{
    text-align:right;
}
#registration_table{
    width: 100%;
}

#registration_table tr:last-child>td{
    text-align: center;
}

.login_form form{
	margin: 0px auto;
	width: 400px;
}

