.header{
    background-color: #f3f3f3;
    height: 30px;
    width: 100%;
    z-index: 6011;
    top: 0;    
    border-bottom: 1px solid #e8e8e8;
    padding: 10px;
}

.wrapper {
    width: 980px;
    margin: 0px auto;
    position: relative;
}

.wideLabel .labelText{
    width: 100% !important;
    float: left;
    line-height: 20px;
}

.content {
    margin: 0px auto 0 auto;
}

.content .contentTop{
    margin-bottom: 10px;
    position: relative;
	float: left;
	width: 769px;
}

/*
    JOBB OLDAL
*/    
.sidebar{
    width: 200px;
    float: left;
    padding-top: 50px;
    margin-left: 10px;
}
.sidebar .sideFrame{
    border-left: 1px solid #bed2d2;
	padding: 0px 0px 0px 5px;
}

.sidebar .block{
    border-top: 1px solid #bed2d2;
    padding: 10px 0px;
}

.sidebar .block h2{
    font-size: 15px;
    font-weight: bold;
    color: #cc0000;
    margin-bottom: 5px;
}
.searcher_box{
}
.searcher_box input{
    
}
.searcher{
    padding: 3px;
    border: 1px solid #CCCCCC;
    background: #fcfcfc;
    box-shadow: 1px 1px 0 #fff;
    width: 300px;
}

.searcher:hover{
    border: 1px solid #A5A1A1;
}

.search_button{
    background: url("/Shop/web/bundles/frontendlayout/images/search.png") center no-repeat !important;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    width: 50px;
    height: 24px;
    padding:0px !important;
}

.main {
    float: right;
    width: 760px;
    border-left: 2px solid #e8e8e8;
    padding-left: 10px;
    min-height: 720px;
    padding-top: 50px;
    background-color: #F8F8F8;
    margin-right: -10px;
}

.footer {
    border-top: 1px solid #e8e8e8;
    clear: both;
    padding: 10px;
    background-color: #f3f3f3;
    width: 100%;
}
.footer .wrapper{
    padding: 20px;
    text-align: center;

}

.footer .links a{
    color: #666;
}

.header .wrapper .group_left{
    position: relative;
    float: left;
}
.header .wrapper .group_right{
    float: right;
    position: relative;
}

input[type="button"]{
    background: #f8f8f8;
    border: 1px solid #CCCCCC;
    box-shadow: 1px 1px 0 #fff;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    padding: 5px;
}
.header .group_right .buttons .cart_button{    
    background: #f8f8f8 url("/Shop/web/bundles/frontendlayout/images/cart.png") center no-repeat;
    width: 50px;
}

input[type="button"]:hover{
    border: 1px solid #A5A1A1;
}


.maincontent .wrapper .sidebar .taxonomy{
    padding: 10px 10px 10px 25px;
}

.maincontent .wrapper .sidebar .taxon a,
.maincontent .wrapper .sidebar .taxonomy a{
    color: #333;
    text-decoration: none;
}

.maincontent .wrapper .sidebar .taxon>li a{
    font-weight: bold;
}