body,html{
    height:100%;
}
body{
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.qtip{
    max-width:1000px;
}
.loading{
    display:none;
    width: 100%;
    height: 100%;
    background: url("/Shop/web/images/loading_small.gif") center center no-repeat;
    background-color: rgba(255,255,255,0.5);
    position: absolute;
}


.header{
    background-color: #f3f3f3;
    height: 30px;
    width: 100%;
    z-index: 6011;
    top: 0;    
    border-bottom: 1px solid #e8e8e8;
	padding: 10px 0px;
    /*padding: 10px;*/
}

.reveal-modal{
    top:30% !important;
}

#logo{
    background: url("/Shop/web/bundles/frontendlayout/images/logo.png") center no-repeat !important;
    height: 30px;
    width: 150px;
    float: left;
    width: 200px;
}
#logo a{
	display:block;
	width:100%;
	height:100%;
}

.wideLabel .labelText{
    width: 100% !important;
    float: left;
    line-height: 20px;
}

.content {
    margin: 0px auto 0 auto;
}

.content .contentTop{
    margin-bottom: 10px;
    position: relative;
	float: left;
	width: 769px;
}

/*
    JOBB OLDAL
*/    

.sidebar .sideFrame{
    border-left: 1px solid #bed2d2;
	padding: 0px 0px 0px 5px;
}

.sidebar .block{
    border-top: 1px solid #bed2d2;
    padding: 10px 0px;
}

.sidebar .block h2{
    font-size: 15px;
    font-weight: bold;
    color: #cc0000;
    margin-bottom: 5px;
}

#leftMenu{
    width: 200px;
    display: block;
    margin-bottom: 15px;
    background-color: #F7F7F7;
    border: 1px solid #d8d8d8;
    box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -moz-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
    -webkit-box-shadow: 1px 2px 0px rgba(197,197,197,.4);
}

.main .sidebar .taxonomy li a{
	padding: 5px 0px 5px 20px;
}

.main .sidebar .taxon li a{
	padding: 5px 0px 5px 10px;
	font-weight: bold;
}

.main .sidebar .taxon a,
.main .sidebar .taxonomy a{
    color: #333;
    text-decoration: none;
	display:block;
}

.main  .sidebar .taxon li a:hover{
    background-color: #428bca;
}
.main .sidebar .taxonomy li a:hover{
    background-color: #428bca;	
}

.main {
    min-height: 720px;
}


.footer {
    border-top: 1px solid #e8e8e8;
    clear: both;
    /*padding: 10px;*/
    background-color: #f3f3f3;
    width: 100%;
}
.footer .wrapper{
    padding: 20px;
    text-align: center;

}

.footer .links a{
    color: #666;
}

.header .wrapper .group_left{
    position: relative;
    float: left;
}
.header .wrapper .group_right{
    float: right;
    position: relative;
}

.header .group_right  ul{
    display: block;
    overflow: hidden;
}
.header .group_right  li{
    display: inline-block;
    margin-left: 5px;
}

.header .group_right  li:hover{
	background-color: white;
}
.header .group_right  a{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.header .group_right #cart #cart_icon{    
    background: url("/Shop/web/bundles/frontendlayout/images/cart.png") center no-repeat;
}
.header .group_right #cart{
    position: relative;
}
.header .group_right #cart-count{
    display: inline;
    background-color: rgba(255,0,0,1);
    padding: 5px;
    height: 14px;
    width: 18px;
    text-align: center;
    color: white;
}
.ui-effects-transfer { border: 2px dotted gray; }

.hide{
    display:none;
}
.profileDropDownQTip{
    border-color: rgb(0, 160, 190);
    background-color: #FFF;
}
.profileDropDownQTip ul .menuDivider{
    background: #ddd;
    font-size: 0;
    height: 1px;
    line-height: 0;
    margin: 4px 0px;
}

.profileDropDownQTip ul{
}

.profileDropDownQTip li a{
    padding: 5px;
    color: #3276b1;
    text-decoration: none;
    display: block;
    font-size: 1.4em;
}
.profileDropDownQTip .qtip-content{
}
.profileDropDownQTip li a:hover{
    color:grey;
    text-decoration: underline;
}

#registration_table tr>td:last-child{
    text-align:right;
}
#registration_table{
    width: 100%;
}

#registration_table tr:last-child>td{
    text-align: center;
}

.login_form form{
	margin: 0px auto;
	width: 400px;
}


.wrapper {
width: 1024px;
margin: 0px auto;
min-height: 100%;
}

.main{
    min-height: 100%;
    margin: 0 auto;
    width: 1024px;
    position: relative;
    overflow: hidden;
}

.sidebar{
float: left;
width: 200px;
padding-top: 30px;
}

.container{
    width: 810px;
    float: right;
    padding: 30px 0px 30px 0px;
}

.clear{
    clear: both;
    display: table;
}

.ok-button:hover {
    text-decoration: underline;
}

.ok-button {
    text-transform: uppercase;
    border-radius: 3px;
    color: #ffffff;
    background-color: #428bca;
    border:none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
}

//REGISZTRÁCIÓS/BEJELENTKEZÉS MODÁLIS ABLAK
.reveal-modal .formContent{
    padding:10px;
}

.reveal-modal .topSection{
    padding: 10px;
}

.reveal-modal .bottomSection{
    padding-top: 5px;
    text-align: center;
}

.reveal-modal h2{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

.reveal-modal .modal-content div{
    padding-top: 5px;
}

.reveal-modal .modal-content label{
    float: left;
    margin: 10px 10px 0px 0px;
    width: 150px;
}

.reveal-modal .modal-content input{
    width: 200px;
    display: block;
    padding: 5px;
    margin: 10px;
}


.reveal-modal .errorSection{
    background-color: red;
    color: white;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size:1.2em;
}

.page-title{
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid grey;
    padding: 0px 10px 10px 10px;
    text-decoration: none;
    margin-bottom:10px;
}

#contact-content-box{
    padding-top:10px;
}

#contact-content-box #contact-map{
    text-align: center;
}

.formContent{
    position:relative;
}

//FŐ KERESŐ MEGJELNÉS
.ui-menu .ui-menu-item {
    
}
.ui-menu .ui-menu-item a{
    height:65px;
}

.ui-menu .ui-menu-item .search-product-name{
    display:inline-block;
    vertical-align: top;
}

.ui-menu .ui-menu-item .search-product-image{
    padding:5px;
    display:inline-block;
}

/*
* Termékek összehasonlítása qtip
*/
.compareProductsDropDownQTip thead tr{
    border-bottom: 1px solid grey;
}
.compareProductsDropDownQTip thead th{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.compareProductsDropDownQTip tbody tr{
    border-bottom: 1px solid #ddd;
    height: 40px;
}
.compareProductsDropDownQTip tbody tr td{
    padding: 5px 0px;
    vertical-align: top;
    text-align: center;
}