{% extends "BackendLayoutBundle:Default:layout.html.twig" %}

{% block title%} Admin - Kategóriák {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/backendadmin/css/Property.css') }}"/>
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %} 
    <div class="main">
        <h2>Tulajdonságok</h2>
        <div class="upperMenu">
            <div class="left-side">
                {% include "BackendAdminBundle:Property:propertyFilter.html.twig"%}
            </div>
            <div class="right-side">                
                <a href="{{path('backend_admin_property_new')}}" class="menu_btn">Új tulajdonság</a>
            </div>
            <div class="pages-box">
                {% include "BackendLayoutBundle:Default:pages.html.twig"%}
            </div>
        </div>
        <div id="categorys">
            {% include "BackendAdminBundle:Property:PropertyListElement.html.twig" %}
        </div>    
    </div>
<div id="modal-delete-property" class="reveal-modal">
    <div class="formContent">
        <div class="topSection">
            <div class="modal-content">
                <h2>Biztosan törölni szeretnéd ezt a tulajdonságot? </h2>
            </div>
        </div>
        <div class="bottomSection">
            <div class="inputs">
                <input type="button" class="delete-property-button menu_btn warning_btn delete_btn" value="Törlés" href="{{path('backend_admin_property_remove')}}">
                <input type="button" class="cancel exit-reveal-modal menu_btn" value="Mégse">                        
            </div>
        </div>
    </div>
</div>    
{% endblock %}
                  