{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShop - Kezdőlap {% endblock %}

{% block bodyClass %}class="index_page"{% endblock%}

{% block sidebar %}
    <div class="sidebar ">
        Ketegóriák BAL OLDAL
    </div>
{% endblock %} 