{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShop - Bejelentkezés {% endblock %}
{% block bodyClass %}class="login_page"{% endblock%}
 
{% block main %}  
	<div class="main">
		<div class="login_form">
			{% render controller('FOSUserBundle:Security:login') %}
		</div>	
	</div>	
{% endblock %}
                        