<div class="container">
    
    <div id="searcher"  href="{{path('frontend_product_homepage')}}" >
        <div id="search-box" >
            {% include "FrontendSearchBundle:Search:laptopSearch.html.twig" %}
        </div>
            <div id="search_toggle_button">Részletes keresés</div>		
    </div>
    {% if category is not null %}
        <div id="upper-menu" href="{{path('product_by_category', {'main_category':mainCategory, 'category':category})}}">
    {% else %}
        <div id="upper-menu" href="{{path('product_by_main_category', {'main_category':mainCategory})}}">
    {% endif %}
    {% if (pageCount != 0)%}
        {% include "FrontendProductBundle:Default:upperMenu.html.twig" %}
    {% endif %}
    </div>
    <div class="products_box">
        {% include "FrontendProductBundle:Default:productBox.html.twig" %}
    </div>
</div>