<div class="left-side">    
    {% include "FrontendProductBundle:Default:pages.html.twig" %}
</div>
<div class="right-side">
    <select class="set-filter">    
        <option value="order=promotion&by=asc">akciós elől</option>
        <option value="order=price&by=asc">leolcsóbb elől</option>
        <option value="order=price&by=desc">legdrágább elől</option>
        <option value="order=date&by=desc">legújabb elől</option>
        <option value="order=name&by=asc">név szerint növekvő</option>
        <option value="order=name&by=desc">név szerint növekvő</option>
    </select>
</div>    