.inline-block{
   display:block;
   padding: 5px;
}
.inline-block label{
   width:150px;
   font-weight:bold;
}
.inline-block input{
   width:200px;
   height:30px;
}
.filter-category-menu .inline-block{
    overflow: hidden;
    margin: 5px;
}
.filter-category-menu .column-0,
.filter-category-menu .column-1,
.filter-category-menu .column-2{
    display:inline-block;
    width: 350px;
}
.filter-category-menu label{
    width: 150px;
    font-weight: bold;
    display: inline-block;
}

.filter-category-menu select,
.filter-category-menu input[type="text"]{
    height: 30px;
    width: 150px;
    padding: 0px 5px;
    border: 1px solid grey;
    display: inline-block;  
}

.right-side a{
    display:block;
}

