/*
* Szerkesztés
*/
.newProperty{
    width:100%;
}
.newProperty .inline-block{
    display: block;
    padding: 5px;
}
.newProperty .inline-block label{
    font-weight: bold;
    width: 150px !important;
    display: inline-block;
}
.newProperty .inline-block input[type="text"]{
    width:500px;
    height:30px;
}

.newProperty .inline-block select{
    width: 100px;
    height:30px;
}