.filter-shared-menu .inline-block{
    overflow: hidden;
    margin: 5px;
}
.filter-shared-menu .column-0,
.filter-shared-menu .column-1{
    display:inline-block;
    width: 350px;
}
.filter-shared-menu label{
    width: 150px;
    font-weight: bold;
    display: inline-block;
}

.filter-shared-menu select,
.filter-shared-menu input[type="text"]{
    height: 30px;
    width: 150px;
    padding: 0px 5px;
    border: 1px solid grey;
    display: inline-block;  
}

