<p>
    Minden nállunk vásárolt termékre 1 év garanciát vállalunk.
</p>
<p>
    Szervizünk: <span class="bold">Marci-tech szerviz</span>
</p>
 
<p>
    Meghibásodás esetén, az alábbi telefonszámot tudod hívni: <span class="bold">+36-20-00-00-000</span>
</p>

<p>
    Üdvözlettel: <span class="bold">Marci-tech</span>
</p>
