<p>
    Ha az átvételétől számított 3 munkanapon belül meghibásodik a vásárolt készülék 
    mi rendezzük a garanciát (ez többnyire a készülék cseréjét jelenti). 
    A készüléket csak akkor tudjuk kicserélni, ha abszolút hibátlan, karc és sérülésmentes, továbbá minden csomagolása megvan. 
    Kérjük erre figyelj! Ha futárral szállítottunk, és 3 napon belül lép fel a hiba, 
    futárt küldünk a gépért, beszállítjuk, bevizsgáljuk, és küldünk egy új készüléket teljesen ingyen. 
    Ha a hiba mégsem garanciális jellegű (pl nem megfelelő driver telepítése, stb), vagy a készülék sérült,
    hiányos ezt az oda-vissza futárköltséget nem tudjuk átvállalni (2600Ft+ÁFA)
</p>
<p>
    3 napon túli meghibásodás esetén az alábbi szerviz(ek) illetékesek: <span class="bold">Marci-tech szerviz</span>
</p>
 
<p>
    Meghibásodás esetén, vagy technikai segítségért, az alábbi ingyenesen hívható telefonszámot tudod hívni: <span class="bold">+36-20-000-000</span>
</p>

<p>
    Üdvözlettel: <span class="bold">Marci-tech</span>
</p>
