<div id="searchTabs">
    <ul class="nav">
        <li class="nav-one"><a href="#tabLaptopSearch" class="current">Laptopok</a></li>
        <li class="nav-two"><a href="#tabTabletSearch">Tabletek</a></li>
        <li class="nav-two"><a href="#tabGeneralSearch">Általános</a></li>
    </ul> 
    <div class="list-wrap">
        <div class="tabContent" id="tabLaptopSearch">
            <div class="loading"></div>
            {% include 'FrontendSearchBundle:Search:tabLaptopSearch.html.twig' %}
        </div>
        <div class="tabContent hide" id="tabTabletSearch">
            <div class="loading"></div>
            {% include 'FrontendSearchBundle:Search:tabTabletSearch.html.twig' %}
        </div>
        <div class="tabContent hide" id="tabGeneralSearch">
            <div class="loading"></div>
            {% include 'FrontendSearchBundle:Search:tabGeneralSearch.html.twig' %}
        </div>
    </div>
</div>