<div class="top-section">
    <div class="search-filter price-filter">
        <p>
            <label for="general-price-amount">Ár:</label>
            <input type="text" id="general-price-amount" class="hide">
            <input type="text" id="general-price-amount-copy">
        </p>
        <div id="general-price-slider"></div>
    </div>
    <div class="general-search-string-box">
        <input type="text" name="general-search-string" id="general-search-string" placeholder="Keresés termékek, kategóriák, tulajdonságok között..."/>            
    </div>
    <input type="hidden" name="filterType" value="" id="general-filter-type"/>
</div>
<div class="bottom-section">
    <input type="button" class="ok-button" id="general-filter-button" value="Szűrés">
</div>
    
