<div class="top-section">
    <div class="search-filter price-filter">
        <p>
            <label for="laptop-price-amount">Ár:</label>
            <input type="text" id="laptop-price-amount" class="hide">
            <input type="text" id="laptop-price-amount-copy">
        </p>
        <div id="laptop-price-slider"></div>
    </div> 
    
    <div class="search-filter">
        <label for="laptop-filter-manufacturer">Gyártó</label>
        <select name="laptop-filter-manufacturer" id="laptop-filter-manufacturer">
            <option value=""></option>
            <option value="acer">Acer</option>
            <option value="apple">Apple</option>
            <option value="asus">Asus</option>
            <option value="dell">Dell</option>
            <option value="lenovo">Lenovo</option>
            <option value="samsung">Samsung</option>
            <option value="toshiba">Toshiba</option>
        </select>
    </div> 
    <div class="search-filter">
        <label for="laptop-filter-processor">Processzor</label>
        <select name="laptop-filter-processor" id="laptop-filter-processor">
            <option value=""></option>
            <option value="AMD">AMD</option>
            <option value="AMD A">AMD A-Series</option>
            <option value="AMD E">AMD E-Series</option>
            <option value="Atom">Intel® Atom™</option>
            <option value="Celeron">Intel® Celeron</option>
            <option value="Pentium">Intel® Pentium</option>
            <option value="Core i3">Intel® Core™ i3</option>
            <option value="Core i5">Intel® Core™ i5</option>
            <option value="Core i7">Intel® Core™ i7</option>
        </select>
    </div>

    <div class="search-filter">
        <label for="laptop-filter-winchester">Merevlemez</label>
        <select name="laptop-filter-winchester" id="laptop-filter-winchester">
            <option value=""></option>
            <option value="0-250">250 GB-ig</option>
            <option value="250-500">250-500 GB</option>
            <option value="500-1000">500-1000 GB</option>
            <option value="1000-">1000 GB+</option>
        </select>
    </div>

    <div class="search-filter">
        <label for="laptop-filter-creen-size">Kijelző</label>
        <select name="laptop-filter-screen-size" id="laptop-filter-screen-size">
            <option value=""></option>
            <option value="9-10">9-10"</option>
            <option value="11-12">11-12"</option>
            <option value="13-14">13-14"</option>
            <option value="15-16">15-16"</option>
            <option value="17-">17"-tól</option>
        </select>
    </div>

    <div class="search-filter">
        <label for="laptop-filter-operation-system">Operációs rendszer</label>
        <select name="laptop-filter-operation-system" id="laptop-filter-operation-system">
            <option value=""></option>
            <option value="nincs">nincs</option>
            <option value="DOS">DOS</option>
            <option value="windows 7">windows 7</option>
            <option value="windows 8">windows 8</option>
            <option value="linux">linux</option>
        </select>
    </div>

    <div class="search-filter">
        <label for="laptop-filter-memory">Memória</label>
        <select name="laptop-filter-memory" id="laptop-filter-memory">
            <option value=""></option>
            <option value="0-2">2 GB-ig</option>
            <option value="2-4">2-4 GB</option>
            <option value="4-8">4-8 GB</option>
            <option value="8-">8 GB+</option>
        </select>
    </div>
    <input type="hidden" name="filterType" value="1" id="laptop-filter-type"/>
</div>
<div class="bottom-section">
    <input type="button" class="ok-button" id="laptop-filter-button" value="Szűrés">
</div>
