<div class="top-section">
    <div class="search-filter price-filter">
        <p>
            <label for="tablet-price-amount">Ár:</label>
            <input type="text" id="tablet-price-amount" class="hide">
            <input type="text" id="tablet-price-amount-copy">
        </p>
        <div id="tablet-price-slider"></div>
    </div> 
    <div class="search-filter">
        <label for="tablet-filter-manufacturer">Gyártó</label>
        <select name="tablet-filter-manufacturer" id="tablet-filter-manufacturer">
            <option value=""></option>
            <option value="acer">Acer</option>
            <option value="apple">Apple</option>
            <option value="asus">Asus</option>
            <option value="dell">Dell</option>
            <option value="digitech">Digitech</option>
            <option value="hp">Hp</option>
            <option value="lenovo">Lenovo</option>
            <option value="lg">LG</option>
            <option value="prestigio">Prestigio</option>
            <option value="samsung">Samsung</option>
            <option value="sony">Sony</option>
            <option value="toshiba">Toshiba</option>
        </select>
    </div> 
    <div class="search-filter">
        <label for="tablet-filter-processor">Processzor</label>
        <select name="tablet-filter-processor" id="tablet-filter-processor">
            <option value=""></option>
            <option value="Apple">Apple</option>
            <option value="ARM cortex">ARM Cortex</option>
            <option value="Boxchip A13 Cortex">Boxchip A13 Cortex</option>
            <option value="Atom">Intel® Atom™</option>
            <option value="Celeron">Intel® Celeron</option>
            <option value="Core i3">Intel® Core™ i3</option>
            <option value="Core i5">Intel® Core™ i5</option>
            <option value="Core i7">Intel® Core™ i7</option>
            <option value="Mediatek">MediaTek</option>
            <option value="nVidia Tegra">nVidia Tegra</option>
            <option value="Qualcomm">Qualcomm</option>
            <option value="Rockchip 3066 Cortex">Rockchip 3066 Cortex™</option>
            <option value="Samsung Exynos">Samsung Exynos</option>
            <option value="Snapdragon">Snapdragon</option>
        </select>
    </div>
    <div class="search-filter">
        <label for="tablet-filter-winchester">Merevlemez</label>
        <select name="tablet-filter-winchester" id="tablet-filter-winchester">
            <option value=""></option>
            <option value="4 GB">4GB</option>
            <option value="8 GB">8GB</option>
            <option value="8GB eMMC">8GB eMMC</option>
            <option value="8GB Flash">8GB Flash</option>
            <option value="16GB">16GB</option>
            <option value="16GB eMMC">16GB eMMC</option>
            <option value="32GB">32GB</option>
            <option value="32GB eMMC">32GB eMMC</option>
            <option value="60GB SSD">60GB SSD</option>
            <option value="64GB">64GB</option>
            <option value="64GB eMMC">64GB eMMC</option>
            <option value="128GB SSD">128GB SSD</option>
            <option value="256GB SSD">256GB SSD</option>
        </select>
    </div>
    <div class="search-filter">
        <label for="tablet-filter-creen-size">Kijelző</label>
        <select name="tablet-filter-screen-size" id="tablet-filter-screen-size">
            <option value=""></option>
            
            <option value="0-7">7" alatt</option>
            <option value="7-8">7-8"</option>
            <option value="8-9">8-9"</option>
            <option value="9-10">9-10"</option>
            <option value="10-12">10-12</option>
            <option value="12-">12" felett</option>
        </select>
    </div>

    <div class="search-filter">
        <label for="tablet-filter-operation-system">Operációs rendszer</label>
        <select name="tablet-filter-operation-system" id="tablet-filter-operation-system">
            <option value=""></option>
            <option value="android">Android</option>
            <option value="android 4.0">Android 4.0</option>
            <option value="android 4.1">Android 4.1</option>
            <option value="android 4.2"> Android 4.2</option>
            <option value="ios 6.0"> IOS 6.0</option>
            <option value="windows 8">Windows 8</option>
            <option value="windows 8.1">Windows 8.1</option>
            <option value="Windows RT">Windows RT</option>
        </select>
    </div>

    <div class="search-filter">
        <label for="tablet-filter-memory">Memória</label>
        <select name="tablet-filter-memory" id="tablet-filter-memory">
            <option value=""></option>
            <option value="0-1">1 GB alatt</option>
            <option value="1-25">1-2 GB</option>
            <option value="2-3">2-3 GB</option>
            <option value="3-4">3-4 GB+</option>
            <option value="4-8">4-8 GB+</option>
            <option value="8-">8 GB+</option>
        </select>
    </div>
    <input type="hidden" name="filter-type" value="2"  id="tablet-filter-type"/>
</div>
<div class="bottom-section">
    <input type="button" class="ok-button" id="tablet-filter-button" value="Szűrés">
</div>
