{% extends "FrontendLayoutBundle:Default:layout.html.twig" %}

{% block title%} WebShop - Elérhetőség {% endblock %}
{% block bodyClass %}class="index_page"{% endblock%}
 
{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
            $(document).ready(function(){
            });
    </script>
{% endblock %}
 
{% block main %}
    <div class="main">
        {% block leftSide %}                        
            {{parent()}}
        {% endblock %}        
        <div class="container">
            <div class="page-title">Elérhetőség</div>
            <div id="contact-content-box">
                <div id="contact-map">
                    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.hu/maps/ms?msa=0&amp;msid=208891172070700896229.0004f6f2f2d714ae7e19e&amp;ie=UTF8&amp;t=h&amp;ll=47.474838,19.061408&amp;spn=0.013923,0.027466&amp;z=15&amp;output=embed"></iframe>
                    {#<br /><small><a href="https://maps.google.hu/maps/ms?msa=0&amp;msid=208891172070700896229.0004f6f2f2d714ae7e19e&amp;ie=UTF8&amp;t=h&amp;ll=47.474838,19.061408&amp;spn=0.013923,0.027466&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">Saját mentett helyek</a> nagyobb térképen való megjelenítése</small>#}
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
                        